# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
      working-directory: my-app
    - run: npm run build --if-present
      working-directory: my-app
    - run: npm test
      working-directory: my-app

    - name: Login to Heroku Container registry    
      env:      
         HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}    
      run: heroku container:login     
      working-directory: my-app 
    - run: npm test       
      working-directory: my-app     
    - name: heroku deploy       
      uses: akhileshns/heroku-deploy@v3.6.8       
      with:           
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}           
        heroku_app_name: "haseebshahid82"           
        heroku_email: "haseebshahid82@gmail.com"           
        appdir: "my-app"           
        buildpack: https://github.com/heroku/heroku-buildpack-nodejs#v170 
